@page "/"

<h1 class="text-white" style="vertical-align: middle;background-color:#9999ff">Students</h1>
<p><a href="/ReadStudent" target="_blank">Read Student</a></p>
<!--p><a href="/ReadStudentPS" target="_blank">Read Student (Paging & Sorting)</a></!p-->

